.map-view-container {
    width: 98vw;
    height: 100vh !important;
    margin: 0; /* Remove margem externa */
    padding: 0; /* Remove espaçamento interno */
    display: flex;
    flex-direction: column; /* Alinha os filhos verticalmente */
    overflow: hidden;
}


.leaflet-container {
    width: 90%;   /* Garante 100% da largura do container */
    /* height: calc(100% - 50px); Deixa espaço para o título, se necessário */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


/* Título */
.map-view-title {
    font-size: 2rem;
    text-align: center;
    margin-top: 10; /* Remove margens superiores e inferiores */
    margin-bottom: 0;
    padding: 0; /* Remove espaçamento interno */
    color: #4a90e2;
}

.map-view {
    width: 100%;
    height: 80% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

