/* notification.css */
.notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notification {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    font-size: 14px;
    font-weight: 500;
}

/* Estilo para notificações de sucesso (azul) */
.notification.sucess {
    background-color: #102841d0 !important;  /* Azul */
}

/* Estilo para notificações de aviso (amarelo) */
.notification.warn {
    background-color: #ffc107;  /* Amarelo */
}

/* Estilo para notificações de informacao (verde) */
.notification.info {
    background-color: #1e5a32b2;  /* verde */
}

/* Estilo para notificações de erro (vermelho) */
.notification.error {
    background-color: #dc3545;  /* Vermelho */
}
